body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    font-size: 18px;
    min-height: 100vh;
    background-color: black;
    color: white;
    background-image: url(avengers-logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15%;
    margin: 0;
    padding:0;
}

header{
    margin-top: -4px;
    background-color: red;
    padding: 0.5px;
    height: 2%;
}

main{
    min-height: 100vh;
    padding-left: 30px;
    padding-right: 30px;
    
}

#pageTitle{
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

#resultHeading{
    font-size: 40px;
    line-height: 0.5em;
}

#searchBox{
    height: 40px;
    width: 50%;
    border-radius: 5px;
    outline-style: none;
    border-style: none;
}

.btn{
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 10%;
    outline-style: none;
    border-style: none;
}

.btn:hover{
    background-color: rgb(218, 149, 149);
}

h3{
    font-weight: bolder;
    font-size: 35px;
    line-height: 0.05em;
}

h4{
    font-weight: bold;
    font-size: 18px;
    line-height: 0.05em;
}


#biography{
    color: red;
    width:30%;
}

hr{
    height:2px;
    width: 99%;
    border:none;
    border-radius: 10px;
    background: linear-gradient(to left, white, blue, red);
}